# Домены (A-записи на IP основного VPS)
DOMAIN_TASK01=a1.fdghyt.com
DOMAIN_TASK01_RESTORE=danil1.fdghyt.com
DOMAIN_TASK02=a2.fdghyt.com
DOMAIN_TASK03=a3.fdghyt.com
DOMAIN_TASK04_KUMA=a5.fdghyt.com
DOMAIN_TASK04_NTFY=a6.fdghyt.com
DOMAIN_TASK05=a4.fdghyt.com
